@using Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="container p-3">

    <partial name="_Notification" />

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Categories View</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Categories" asp-controller="Category" asp-action="AddNewCategory" class="btn btn-primary">
                <i class="bi bi-plus"></i> &nbsp; Add New Category
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Category Id</th>
                <th scope="col">Category Name</th>
                <th scope="col">Buttons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-primary">
                    <td scope="row" width="50%">@item.Id</td>
                    <td scope="row" width="50%">@item.Name</td>
                    <td>
                        <a asp-area="Categories" asp-controller="Category" asp-action="EditCategory" asp-route-id="@item.Id" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i> Update
                        </a>
                        &nbsp;
                        <a asp-area="Categories" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                        &nbsp;
                        <a asp-area="Categories" asp-controller="Category" asp-action="ViewCategory" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                            <i class="bi bi-trash3"></i> View
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

